* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding-top: 150px;
    font-size: 20px;
    line-height: 1.4;
}

.container {
    padding: 0 30px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: #004caa;
    margin-bottom: 0.7em;
}

p {
    margin-bottom: 1em;
}

header {
    height: 100px;
    background-color: #004caa;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

header.sticky {
    position: fixed;
    transform: translate3d(0, -100%, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header.sticky.animation {
    transition: transform 0.4s ease-in-out;
}

header.sticky.reveal {
    transform: translate3d(0, 0%, 0);
}

header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}